<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]={exact:true}>Home</a> -->
    <a class="navbar-brand" routerLink="/"><b>Bankry</b></a>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/fund-account">Fund Account</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/loan">Loan</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/pay-bill">Pay Bill</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/payment">Payment</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/withdraw">Withdraw</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/transaction-history">Transaction History</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/transfer">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/wallet">Wallet</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
            </li>            
          </ul>
      </div>
  </div>
</nav>


<!-- <div>I am the parent component</div> -->
<!-- <a class="ter" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]={exact:true}>Home</a> | 
<a routerLinkActive="active" routerLink="/about">About</a> |
<a routerLinkActive="active" routerLink="/contact">Contact</a> |
<a routerLinkActive="active" routerLink="student">Student</a> -->

<router-outlet></router-outlet>

<!-- <app-home></app-home> -->

<!-- <div class="container">
  <app-header></app-header>
  <app-tasks></app-tasks>
</div> -->