
<div class="container my-30 bg-dark">
    <h2 style="text-align: center; color: #ff6600; font-weight: 600;">Sign Up Page</h2>
    <form>
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" class="form-control" id="Fname" placeholder="First Name" name="fname" [(ngModel)]="firstName">
      </div>
      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input type="text" class="form-control" id="Lname" placeholder="Last Name" name="lname" [(ngModel)]="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" [(ngModel)]="pwd">
      </div>
      <button type="submit" class="btn btn-info" style="background-color: #ff6600;" (click)="register()">Sign Up</button>
    </form><br>
    <p style="color: #fff; text-align: center;">Already have an account <a style="text-decoration: none; color: #ff6600;" routerLink="/signIn">Sign In</a></p>

  </div>




  <router-outlet></router-outlet>