/* *{
    background-color: #000;
} */
/* .row .body{
    width: 100%;
} */

#user{
    font-size: 25px;
    font-weight: 900;
}
.display{
    background-color: #cccccc;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.account{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    color: #b3b3b3;
    background-color: #fff;
    width: 180px;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    margin-left: 40px;
}

.acc {
    margin-top: 20px;
}
/* .prof{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #000;
} */

/* SECTION FOR PROFILE PAGE */
.card {
    width: auto;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.disprof{
    width: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
    border: none;
}

/* .image{
    background-color: red;
} */

.image img {
    transition: all 0.5s
}

.image img:hover {
    transform: scale(1.5);
    padding-bottom: 5px;
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: #b3b3b3;
}

.idd {
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    /* background-color: #4d4d4d; */
    color: #b3b3b3;
    font-size: 15px
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.ttip{
    width: 150px;
    height: 30px;
    background-color: #212529;
    border-radius: 10px;
    color: #b3b3b3;
    border: none;
    font-size: 13px;
}
